.character-button {
  width: 100%;
  padding: 15px 0;
  background: black;
  font-size: 25px;
  color: white;
  cursor: pointer;
  &:hover,
  &.active {
    background: white;
    color: black;
    font-weight: bold;
  }
}
