.character-button {
  width: 100%;
  padding: 15px 0;
  background: black;
  font-size: 25px;
  color: #FFE81F;
  cursor: pointer;
  border: #FFE81F 1px solid;
  
  &:hover,
  &.active {
    background: #FFE81F;
    color: black;
    font-weight: bold;
  }
}

.character-picker {
  & > h4 {
    text-align: center;
    color: white;
  }
}