.container {
  max-width: 1024px;
  margin: auto;
  width: 100%;
  display: flex;
}

.col {
  
  &--35 {
    width: 35%;
  }

  &--65 {
    width: 65%;
  }
}


body {
  background: black;
  color: white;
  background-image: url('./assets/img/bg-stars.jpg');
}