.container {
  max-width: 1024px;
  margin: auto;
  width: 100%;
  display: flex;

}

.col {
  border: #FFE81F 3px solid;
  border-top: none;
  &--35 {
    width: 35%;
  }

  &--65 {
    width: 65%;
    border-left: none;
  }
}


body {
  background: black;
  color: #FFE81F;
  background-image: url('./assets/img/bg-stars.jpg');
}